@import url('lumo-css-framework/all-classes.css');
@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');

a[highlight] {
    font-weight: bold;
    text-decoration: underline;
}

.login-header {
    font-family: "Comic Sans MS", sans-serif;
}